extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Налаштування', 'settings', true)
          +navItem('/my-tours', 'Мої бронювання', 'briefcase')
          +navItem('#', 'Мої відгукі', 'star')
          +navItem('#', 'Платежі', 'credit-card')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Адмін
            ul.side-nav
              +navItem('#', 'Тури', 'map')
              +navItem('#', 'Користувачі', 'users')
              +navItem('#', 'Відгукі', 'star')
              +navItem('#', 'Бронювання', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Налаштування аккаунту
          
          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
          
          //- WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Ім'я
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Електронна адреса
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Обрати нове фото
              
            .form__group.right
              button.btn.btn--small.btn--green Зберегти
              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Зміна паролю
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Діючий пароль
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') Новий пароль
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Підтвердити
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Зберегти
